# CODEOWNERS
# Each line defines a file pattern and its owner(s).
# Owners are automatically requested for review on pull requests.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repository
* @markorakiccodetiq @NashRenewables/TRACE
